@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Vollkorn:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 font-family: 'IBM Plex Sans', sans-serif;
 background-color: #0D1115;
 color: #CCDAE5;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Vollkorn', serif;
}

.clip-circle {
 clip-path: circle(32px at center);
}

.scrollbar-hide::-webkit-scrollbar {
 display: none;
}

.scrollbar-hide {
 -ms-overflow-style: none;
 scrollbar-width: none;
}

/* Add to src/index.css */

.project-background {
    transition: background 0.3s ease;
  }
  
  .project-background.at-top {
    background: linear-gradient(
      to bottom,
      var(--from-color) 0%,
      var(--to-color) 30%,
      var(--to-color) 100%
    );
  }
  
  .project-background.in-middle {
    background: var(--to-color);
  }
  
  .project-background.at-bottom {
    background: linear-gradient(
      to bottom,
      var(--to-color) 0%,
      var(--to-color) 70%,
      var(--from-color) 100%
    );
  }